.container {
  font-family: Arial, sans-serif;
  font-size: small;
  text-align: center;

    a {
      text-decoration: none;
      color: inherit;
    }

    a:hover {
      text-decoration: underline;
    }

  .nav {
    position: absolute;
    padding-top: 16px;
    padding-right: 20px;
    width: 100%;

    .topbar {
      text-align: right;
      margin: 0 9px;
      color: #404040;
      font-size: 12px;
      list-style-type: none;

      li {
        display: inline;
        padding-right: 15px;
      }
      }
    } // End of .nav

// Beginning of .content
  .main {
    .logo {
      height: 95px;
      width: 269px;
      padding-top: 112px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      clear: both;
    }
    .search-box {
      display: block;
      height: 30px;
      width: 572px;
      padding-bottom: 0px;
      padding-left: 9px;
      padding-right: 9px;
      padding-top: 5px;
      margin: 0 auto;
      margin-top: 30px;
      margin-bottom: 30px;
    }
    .button {
      background-color: rgb(248, 248, 248);
      background-image: -webkit-linear-gradient(top, #f5f5f5, #f1f1f1);
      background-size: auto;
      border: 1px solid #f2f2f2;
      border-radius: 2px;
      font-size: 11px;
      font-weight: bold;
      color: #757575;
      margin: 11px 4px;
      padding-top: 8px;
      padding-bottom: 8px;
    }
  } // End of .content

// Beginning of .footer
  .footer {
    background-color: #f2f2f2;
    border-top: 1px solid #e4e4e4;
    border-bottom: 0;
    font-family: Arial, sans-serif;
    position: absolute;
    list-style-type: none;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;

    .left-foot {
      padding-left: 7px;
      display: inline;
      float: left;
    }
    .right-foot {
      padding-left: 7px;
      display: inline;
      float: right;
    }
  } // End of .footer

} // End of .container